.navbar {
  font-size: 1.4em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
}

.navbar a {
  padding: 0.5em;
  color: green;
}

.navbar a.active {
  color: lightgreen;
}